body{
    background-color: rgb(6, 194, 175);
}

h1 {
    color:rgb(221, 13, 65);
}
div {
background-color: rgb(162, 11, 173);
width: 20vw;
}
.divRojo {
    background-color: rgb(250, 0, 0);

}

#divUnico{
    background-color: orchid;
}
#dibujo {
    width: 20vw;
    height: 20vw;
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
}

#cara{
    width: 60%;
    height:70%;
    background-color: rgb(255, 238, 0);
    border-radius: 80%;
    position: relative;
}
.ojo{
    width: 20%;
    height:20%;
    background-color: rgb(255, 255, 255);
    border-radius: 100%;
    position:absolute;
    overflow: hidden;   /* para que la pupila no se salga */
}
#ojoiz {
    top: 20%;
    left: 20%;
}

#ojoder{
    top: 20%;
    right: 17%;
}
.pupila{
    width: 40%;
    height: 40%;
    background-color: black;
    border-radius: 100%;
    position: absolute;
    top: 30%;
    left: 30%;
}
.boca{
    width: 63%;
    height:27%;
    background-color: rgb(0, 0, 0);
    border-radius: 0 0 50px 50px;
    position:absolute;
    top: 60%;
    left:20%;
}
.sombrero{
    position: absolute;
    top: -10%;
    left: 2%;
    width: 100%;
    height: 60%;
}

.copa{
    width: 100%;
    height: 90%;
    background-color: black;
    border-radius: 10px 10px 0 0;
}

.ala{
    width: 140%;
    height: 30%;
    background-color: black;
    position: absolute;
    bottom: 0;
    left: -20%;
    border-radius: 20px;
}